			#showhide {
				background-color: #E1A65E; /* Green */
				border: none;
				color: rgb(255, 255, 255);
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
			}
			#showmap {
				background-color: #4d7aed; /* Green */
				border: none;
				color: rgb(255, 255, 255);
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin-left: 20px;
				margin-top: 10px;
				
				border-radius: 5px;
				transition: background-color 0.2s; /* 添加过渡效果 */
			}
			#showmap:hover{
				background-color: #1e4d70; /* 悬停时的背景颜色 */
			}
			#box {
              	width:1980px;
           		height:2000px;
				
           		

            
        } 



        	#tooltip-container {
				position: absolute;
				background-color: white;
				padding: 0px 15px 0px 15px;
				display: none;
				border: 1px solid #555;
        	}
			#tooltip-container1 {
				position: absolute;
				background-color: white;
				padding: 0px 15px 0px 15px;
				display: none;
				border: 1px solid #555;
        	}

			#title{
				color: whitesmoke;
				margin-left: 2%;

			}
			#tooltip-description{
				color: whitesmoke;
				font-size: 17px;
				text-align: left;
				margin-top: 20px;
				margin-left: 20px;
				width:400px;
            	height:38%;
            	background:#225689;
				float:left;
				padding: 10px; /* 增加内边距 */
				border:1px solid rgb(65, 70, 75);
				border-radius:5px;


			}
			#tooltip-description:hover {
				background-color: #225689; /* 悬停行背景颜色 */
			}
			#tooltip-description hr {
				border: none;
				height: 1px;
				background-color: #bacde1; /* 分割线颜色 */
				margin-top: 5px; /* 上边距 */
				margin-bottom: 10px; /* 下边距 */
			}


			#tooltip-description3{
				color: whitesmoke;
				font-size: 17px;
				text-align: left;
				margin-top: 20px;
				margin-left: 20px;
				width:20%;
            	height:52%;
            	background:#225689;
				float:left;
				padding: 10px; /* 增加内边距 */
				border:1px solid rgb(65, 70, 75);
				border-radius:5px;


			}
			#tooltip-descriptio3 hr {
				border: none;
				height: 1px;
				background-color: #bacde1; /* 分割线颜色 */
				margin-top: 5px; /* 上边距 */
				margin-bottom: 10px; /* 下边距 */
			}



			#tooltip-text{
				font-size:20px;
			}

			#svg {
				margin-top: 20px;
				float:right;
				
				
				
			}
			#svg1 {
				margin-top: 20px;
				float:right;
				display: none;
				
				
			}

			#text1 {
				margin-top: 10px;
				width:100%;
            	height:100%;
            	background:#072744;
				border:2px solid rgb(65, 70, 75)
				
			}
			#graph1 {
				margin-top: 5px;
				/* margin-left: 50px; */
				width:98%;
            	/* height:750px; */
            	background:#072744;
				margin-left: auto;   /* 左边距设置为自动 */
				margin-right: auto;  /* 右边距设置为自动 */
				/* float:right; */
				/* border:2px solid rgb(65, 70, 75) */
				
			}


			.objecttable {
				width: 100%; /* 表格宽度 */
				border-collapse: collapse; /* 边框合并 */
			}

			.objecttable th, .objecttable td {
				text-align: left; /* 文本左对齐 */
				padding: 8px; /* 单元格内边距 */
				border-bottom: 1px solid #ddd; /* 底部边框 */
				color: white;
			}

			.objecttable th {
				background-color: #225689; /* 标题背景颜色 */
				color: white; /* 标题字体颜色 */
			}

			.objecttable tr:nth-child(even) {
				background-color: #225689; /* 交替行背景颜色 */
				color: white;
			}

			.objecttable tr:hover {
				background-color: #f3b671; /* 悬停行背景颜色 */
			}

            #visual {
				margin-top: 2%;
				margin-left: 20px;
				margin-right: 20px;
				background:#072744;
				height: 22%;
				border:3px solid #225689;
				


			}
			#visual1 {
				margin-top: 1%;
				margin-left: 20px;
				margin-right: 20px;
				background:#072744;
				height: 22%;
				border:3px solid #225689;
				


			}

			#graph2 {
				margin-left: 35%;
				padding-top: 1%;
				border-radius:10px;
				
			}
			#graph3 {
				margin-left: 35%;
				padding-top: 1%;
				border-radius:10px;
			}